@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    /* background-color: #c83737; */
}
/* GLOBAL */
/* .input-container{
    position: relative;
    border-radius: 5px;
    width: 50%;
    background-color: #fff;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.3);
    padding: 5px;
    margin: 10px;
}
.checkbox {
    width: 50%;
}
.input-container input {
    border: none;
    font-family: 'Oswald',sans-serif;
}
.input-container .icon {
    color:#ccc;
}
input:focus {
    outline: none;
} */

/* HOME */
main#login {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: #c83737;
}
main#login .container {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main#login .logo {
    position: absolute;
    height: 50vh;
    width: 35vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main#login .logo img {
    height: 100%;
    width:auto ;
}
main#login .container #wave {
    position: relative  ;
    width: 100vw;
    height: 50vh;
}
main#login .container #wave img {
    position: absolute;
    height: 20%;
    width: 100%;
    bottom: -1px;
}
main#login .container .background {
    position: relative;
    height: 50vh;
    width: 100%;
    background-color: #fff;
}
main#login .container .background .social {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
}
main#login .container .background .social .icon {
    padding: 25px;
    color:#c83737;
}
main#login .container .content {
    position: absolute;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main#login .container .content .card {
    position: absolute;
    height: 50vh;
    width: 40vw;
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
    background-color: whitesmoke;
    border: 5px solid whitesmoke;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#9a9a9a;
}
footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;  
}
footer p {
    float: right;
    padding: 10px;
    color:#9a9a9a;
}
@media(max-width:768px){
    main#login .logo {
        width: 100vw;
        height: 50vh;
    }
    main#login .logo img {
        top: 0;
        position: absolute;
        height: 300px;
    }
    main#login .background .social  {
        visibility: hidden;
    }
    main#login .container .content {
        position: absolute;
        height: 100%;
        width: 100%;
    }
    main#login .container .content .card {
        position: absolute;
        height: 50vh;
        width: 90vw;
        bottom: 20%;
        text-align: center;
    }
}